@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
*{
  font-family: '微软雅黑',sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}
